@model Gallery_art_3.Models.artwork

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>artwork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Artist")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist.customer.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Thể loại tranh")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayName("")
        </dt>

        <dd>
            <img src="~/@Model.img_path" style="width:300px;height:300px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @ViewBag.Status
        </dd>

    </dl>
</div>
<p>
    @if (Session["idArtist"] != null)
    {

        @Html.ActionLink("Back to List", "Index");
    }
    else
    {
        @Html.ActionLink("Back to List", "Artwork", "TestHome")
    }


</p>
<p>
    @Html.ActionLink("List favorite artwork", "Favorite_art","customers")
</p>
<p>
    @Html.ActionLink("Back to Artwork", "Artwork", "TestHome")
</p>
