@model Gallery_art_3.Models.bid

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>bid</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Start_Price, "Giá khởi điểm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Start_Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Start_Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Art_id, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Art_id", null, htmlAttributes: new { @class = "form-control", @id = "artwork_id" })
            @Html.ValidationMessageFor(model => model.Art_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       <input disabled value="Vui long chọn tranh để upload" />
        <div class="col-md-10" id="result">
            
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Range day", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="number" name="add_day" min="1" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index","artworks")
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#artwork_id").change(function () {
             var id = $(this).val();
             $.ajax({
            url: "@Url.Action("GetArtwork_id","bids")",
            dataType: "json",
            type: "GET",
            contentType: 'application/json',
            data: {id:id},
                 success: function (result) {
                     $("#result").html(result);
            },
            error: function (xhr) {
                alert('error');
    }
});
        })



    })

</script>
