@model IEnumerable<Gallery_art_3.Models.artwork>

@{
    ViewBag.Title = "Index";
}


<h2>TestViewArtwork</h2>
@using (Html.BeginForm())
{ 
    @Html.TextBox("search")
    <button type="submit">Search</button>
}

   @foreach (var item in Model)
   {


        <div style="display: inline-block; margin: 20px;padding:5px">
            
            <div>@Html.DisplayFor(modelItem => item.Title)</div>
            <div style="margin-bottom:10px">@Html.DisplayFor(modelItem => item.category.Name)</div>
            <div><img src="~/@item.img_path" style="width:200px;height:200px" /></div>
            <div>
                
            @Html.ActionLink("Xem", "Details", "artworks", new { id = item.Id }, null)
            </div>
            <div>
                
                    @Html.ActionLink("Thích sản phẩm", "Add_Favorite_art", "customers", new { id_artwork = item.Id }, null)
               

            </div>
            <div>@Html.ActionLink("Add Cart", "ThemVaoGio", "Cart", new { SanPhamID = item.Id }, null)</div>
            
        </div>
        

   }


